<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/static/master.css" type="text/css">
</head>

<body>
    <H1>Design and Development of Cloud Applications!!!</H1>

    <div class="main">
        <div class="content-wrapper">
            <div>
                <h3>
                    <p>Howdy 👋!! This is Phagun Jain, this webapp is made for the demostration purpose of dployment via
                        cloud
                        computng tools </p>
                </h3>
            </div>
            <br />
            <div class="socials">
                <a href="https://github.com/PHAGUN-JAIN" starget="_blank">GITHUB</a>
                <a href="https://www.linkedin.com/in/phagun-jain/" starget="_blank">LINKEDIN</a>
            </div>
        </div>

        <div class="main-content">
            <h2>Contents</h2>
            <div class="link-wrapper">
                <a href="/public/pdfs/report_minor1.pdf">Minor1 report</a>
                <a href="/public/pdfs/assignment1.pdf">Assignment 1</a>
            </div>

        </div>
    </div>
</body>

</html>